In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import operator

In [2]:
os.listdir("input")

['circuits.csv',
 'status.csv',
 'drivers.csv',
 'driverStandings.csv',
 'races.csv',
 'constructors.csv',
 'constructorResults.csv',
 'lapTimes.csv',
 'qualifying.csv',
 'pitStops.csv',
 'seasons.csv',
 'constructorStandings.csv',
 'results.csv']

In [3]:
constructors = pd.read_csv("input/constructors.csv",encoding="latin1")
constructors[:10]

,constructorId,constructorRef,name,nationality,url,Unnamed: 5
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,NaN
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber,NaN
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,NaN
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_F1,NaN
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso,NaN
5,6,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari,NaN
6,7,toyota,Toyota,Japanese,http://en.wikipedia.org/wiki/Toyota_Racing,NaN
7,8,super_aguri,Super Aguri,Japanese,http://en.wikipedia.org/wiki/Super_Aguri_F1,NaN
8,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing,NaN
9,10,force_india,Force India,Indian,http://en.wikipedia.org/wiki/Force_India,NaN

In [4]:
constructors_data = dict()
for index, row in constructors.iterrows():
    if row["nationality"] in constructors_data.keys():
        constructors_data[row["nationality"]]+=1
    else:
        constructors_data[row["nationality"]]=1
constructors_data

{'British': 85,
 'German': 10,
 'French': 12,
 'Italian': 29,
 'Japanese': 5,
 'Austrian': 1,
 'Indian': 1,
 'Dutch': 3,
 'Russian': 2,
 'Swiss': 4,
 'Irish': 1,
 'Hong Kong': 1,
 'Brazilian': 1,
 'Canadian': 2,
 'Mexican': 1,
 'American': 39,
 'Australian': 1,
 'New Zealand': 1,
 'South African': 3,
 'Rhodesian': 1,
 'Belgium': 1,
 'East German': 1,
 'Spanish': 1,
 'Malaysian': 2}

# Country by Constructors

In [5]:
import plotly.plotly as py
import plotly.graph_objs as go

data=[go.Bar(
    x=list(constructors_data.keys()),
    y=list(constructors_data.values())
)]

py.iplot(data,filename='Country wise Constructors')

/Users/neelpatel/anaconda3/lib/python3.6/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [6]:
data = go.Pie(labels=list(constructors_data.keys()), values=list(constructors_data.values()), textinfo='none')
py.iplot([data], filename='Country wise Constructors Percentage')

In [7]:
drivers = pd.read_csv("input/drivers.csv",encoding="latin1")
drivers[:10]

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
5,6,nakajima,NaN,NAK,Kazuki,Nakajima,11/01/1985,Japanese,http://en.wikipedia.org/wiki/Kazuki_Nakajima
6,7,bourdais,NaN,BOU,SÌ©bastien,Bourdais,28/02/1979,French,http://en.wikipedia.org/wiki/S%C3%A9bastien_Bo...
7,8,raikkonen,7.0,RAI,Kimi,RÌ_ikkÌ¦nen,17/10/1979,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...
8,9,kubica,NaN,KUB,Robert,Kubica,07/12/1984,Polish,http://en.wikipedia.org/wiki/Robert_Kubica
9,10,glock,NaN,GLO,Timo,Glock,18/03/1982,German,http://en.wikipedia.org/wiki/Timo_Glock

In [8]:
drivers_nationality_data = dict()
for index, row in drivers.iterrows():
    if row["nationality"] in drivers_nationality_data.keys():
        drivers_nationality_data[row["nationality"]]+=1
    else:
        drivers_nationality_data[row["nationality"]]=1
drivers_nationality_data

{'British': 162,
 'German': 49,
 'Spanish': 15,
 'Finnish': 9,
 'Japanese': 19,
 'French': 73,
 'Polish': 1,
 'Brazilian': 31,
 'Italian': 99,
 'Australian': 17,
 'Austrian': 15,
 'American': 157,
 'Dutch': 17,
 'Colombian': 3,
 'Portuguese': 4,
 'Canadian': 13,
 'Indian': 2,
 'Hungarian': 1,
 'Irish': 5,
 'Danish': 5,
 'Argentine': 24,
 'Czech': 1,
 'Malaysian': 1,
 'Swiss': 23,
 'Belgian': 23,
 'Monegasque': 3,
 'Swedish': 10,
 'Venezuelan': 3,
 'New Zealander': 9,
 'Chilean': 1,
 'Mexican': 6,
 'South African': 23,
 'Liechtensteiner': 1,
 'Rhodesian': 4,
 'American-Italian': 1,
 'Uruguayan': 4,
 'Argentine-Italian': 1,
 'Thai': 1,
 'East German': 3,
 'Russian': 2,
 'Indonesian': 1}

# Country wise Drivers

In [9]:
data=[go.Bar(
    x=list(drivers_nationality_data.keys()),
    y=list(drivers_nationality_data.values())
)]

py.iplot(data,filename='Country wise Drivers')

In [10]:
results = pd.read_csv("input/results.csv",encoding="latin1")
circuits = pd.read_csv("input/circuits.csv",encoding="latin1")
status = pd.read_csv("input/status.csv",encoding="latin1")
drivers = pd.read_csv("input/drivers.csv",encoding="latin1")
driverStandings = pd.read_csv("input/driverStandings.csv",encoding="latin1")
races = pd.read_csv("input/races.csv",encoding="latin1")
constructors = pd.read_csv("input/constructors.csv",encoding="latin1")
constructorResults = pd.read_csv("input/constructorResults.csv",encoding="latin1")
lapTimes = pd.read_csv("input/lapTimes.csv",encoding="latin1")
qualifying = pd.read_csv("input/qualifying.csv",encoding="latin1")
pitStops = pd.read_csv("input/pitStops.csv",encoding="latin1")
seasons = pd.read_csv("input/seasons.csv",encoding="latin1")
constructorStandings = pd.read_csv("input/constructorStandings.csv",encoding="latin1") 
results = pd.read_csv("input/results.csv",encoding="latin1")

In [11]:
driver_wins = dict()
for index, row in driverStandings.iterrows():
    if row["position"] == 1:
        if row["driverId"] in driver_wins.keys():
            driver_wins[row["driverId"]] += 1
        else:
            driver_wins[row["driverId"]] = 1
driver_wins

{1: 70,
 8: 12,
 9: 1,
 13: 2,
 4: 52,
 30: 121,
 21: 1,
 14: 3,
 57: 27,
 56: 5,
 35: 5,
 71: 17,
 117: 79,
 102: 48,
 95: 25,
 20: 57,
 18: 20,
 137: 19,
 105: 6,
 173: 2,
 182: 42,
 187: 3,
 202: 4,
 177: 3,
 178: 11,
 199: 13,
 163: 3,
 172: 4,
 203: 2,
 222: 15,
 207: 15,
 221: 1,
 231: 1,
 224: 28,
 304: 12,
 223: 6,
 328: 33,
 356: 24,
 358: 8,
 373: 22,
 289: 27,
 385: 1,
 341: 1,
 475: 7,
 403: 4,
 476: 2,
 360: 6,
 577: 1,
 578: 5,
 579: 35,
 554: 1,
 581: 2,
 427: 2,
 345: 1,
 647: 14,
 641: 3,
 642: 7,
 17: 6,
 3: 29}

In [12]:
driverStandings = driverStandings.fillna(0)
data = driverStandings.merge(drivers, how='left', on= 'driverId')
data.head()

,driverStandingsId,raceId,driverId,points,position,positionText,wins,driverRef,number,code,forename,surname,dob,nationality,url
0,1,18,1,10.0,1,1,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,18,2,8.0,2,2,0,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,18,3,6.0,3,3,0,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,18,4,5.0,4,4,0,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,18,5,4.0,5,5,0,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [13]:
data = data[data["position"]==1]
data["surname"].value_counts()

Schumacher     121
Prost           79
Hamilton        70
Vettel          57
Alonso          52
Hill            48
Senna           48
Lauda           42
Fangio          35
Stewart         33
Rosberg         32
Fittipaldi      28
HÌ_kkinen       27
Mansell         25
Brabham         24
Clark           22
Button          20
Piquet          19
Andretti        15
Scheckter       15
Ascari          14
Reutemann       13
RÌ_ikkÌ¦nen     12
Hulme           12
Jones           11
Rindt            8
Moss             7
Villeneuve       7
Farina           7
McLaren          6
Regazzoni        6
Alboreto         6
Webber           6
Irvine           5
Hawthorn         5
Laffite          4
Pironi           4
Watson           3
Taruffi          3
Arnoux           3
Coulthard        3
Trintignant      2
von Trips        2
Collins          2
de Angelis       2
Massa            2
Hunt             1
RodrÌ_guez       1
Bandini          1
Surtees          1
Kubica           1
Behra            1
Depailler        1
Musso            1
Fisichella       1
Name: surname, dtype: int64

# Wins by Drivers

In [14]:
data1=[go.Bar(
    x=data["surname"].value_counts().index,
    y=data["surname"].value_counts().values
)]

py.iplot(data1,filename='Wins by Drivers')

In [28]:
constructorStandings = constructorStandings.fillna(0)
data = constructorStandings.merge(constructors, how='left', on= 'constructorId')
data.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins,Unnamed: 7,constructorRef,name,nationality,url,Unnamed: 5
0,1,18,1,14.0,1,1,1,0.0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,NaN
1,2,18,2,8.0,3,3,0,0.0,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber,NaN
2,3,18,3,9.0,2,2,0,0.0,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,NaN
3,4,18,4,5.0,4,4,0,0.0,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_F1,NaN
4,5,18,5,2.0,5,5,0,0.0,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso,NaN

# Wins by Constructors

In [29]:
data = data[data["position"]==1]
data["name"].value_counts()

Ferrari            224
McLaren            165
Williams           114
Mercedes            75
Red Bull            63
Renault             46
Team Lotus          44
Benetton            29
Lotus-Climax        23
Cooper-Climax       20
Brawn               17
Tyrrell             16
Brabham-Repco       16
BRM                 14
Lotus-Ford          12
Matra-Ford          11
Brabham              6
Ligier               4
Cooper               4
March                3
Vanwall              3
BMW Sauber           1
Cooper-Maserati      1
Wolf                 1
Name: name, dtype: int64

In [31]:
data1 = go.Pie(labels=data["name"].value_counts().index, values=data["name"].value_counts().values, textinfo='none')
py.iplot([data1], filename='Wins by Constructors')