In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import operator
import warnings

warnings.simplefilter("ignore", UserWarning)

In [2]:
os.listdir("input")

['circuits.csv',
 'status.csv',
 'drivers.csv',
 'driverStandings.csv',
 'races.csv',
 'constructors.csv',
 'constructorResults.csv',
 'lapTimes.csv',
 'qualifying.csv',
 'pitStops.csv',
 'seasons.csv',
 'constructorStandings.csv',
 'results.csv']

In [3]:
constructors = pd.read_csv("input/constructors.csv",encoding="latin1")
constructors[:10]

,constructorId,constructorRef,name,nationality,url,Unnamed: 5
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,NaN
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber,NaN
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,NaN
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_F1,NaN
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso,NaN
5,6,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari,NaN
6,7,toyota,Toyota,Japanese,http://en.wikipedia.org/wiki/Toyota_Racing,NaN
7,8,super_aguri,Super Aguri,Japanese,http://en.wikipedia.org/wiki/Super_Aguri_F1,NaN
8,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing,NaN
9,10,force_india,Force India,Indian,http://en.wikipedia.org/wiki/Force_India,NaN

In [4]:
constructors_data = dict()
for index, row in constructors.iterrows():
    if row["nationality"] in constructors_data.keys():
        constructors_data[row["nationality"]]+=1
    else:
        constructors_data[row["nationality"]]=1
constructors_data

{'British': 85,
 'German': 10,
 'French': 12,
 'Italian': 29,
 'Japanese': 5,
 'Austrian': 1,
 'Indian': 1,
 'Dutch': 3,
 'Russian': 2,
 'Swiss': 4,
 'Irish': 1,
 'Hong Kong': 1,
 'Brazilian': 1,
 'Canadian': 2,
 'Mexican': 1,
 'American': 39,
 'Australian': 1,
 'New Zealand': 1,
 'South African': 3,
 'Rhodesian': 1,
 'Belgium': 1,
 'East German': 1,
 'Spanish': 1,
 'Malaysian': 2}

# Number of Constructors by Country

In [5]:
import plotly.plotly as py
import plotly.graph_objs as go

data=[go.Bar(
    x=list(constructors_data.keys()),
    y=list(constructors_data.values())
)]

py.iplot(data,filename='Country wise Constructors')

In [6]:
data = go.Pie(labels=list(constructors_data.keys()), values=list(constructors_data.values()), textinfo='none')
py.iplot([data], filename='Country wise Constructors Percentage')

In [7]:
drivers = pd.read_csv("input/drivers.csv",encoding="latin1")
drivers[:10]

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
5,6,nakajima,NaN,NAK,Kazuki,Nakajima,11/01/1985,Japanese,http://en.wikipedia.org/wiki/Kazuki_Nakajima
6,7,bourdais,NaN,BOU,SÌ©bastien,Bourdais,28/02/1979,French,http://en.wikipedia.org/wiki/S%C3%A9bastien_Bo...
7,8,raikkonen,7.0,RAI,Kimi,RÌ_ikkÌ¦nen,17/10/1979,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...
8,9,kubica,NaN,KUB,Robert,Kubica,07/12/1984,Polish,http://en.wikipedia.org/wiki/Robert_Kubica
9,10,glock,NaN,GLO,Timo,Glock,18/03/1982,German,http://en.wikipedia.org/wiki/Timo_Glock

In [8]:
drivers_nationality_data = dict()
for index, row in drivers.iterrows():
    if row["nationality"] in drivers_nationality_data.keys():
        drivers_nationality_data[row["nationality"]]+=1
    else:
        drivers_nationality_data[row["nationality"]]=1
drivers_nationality_data

{'British': 162,
 'German': 49,
 'Spanish': 15,
 'Finnish': 9,
 'Japanese': 19,
 'French': 73,
 'Polish': 1,
 'Brazilian': 31,
 'Italian': 99,
 'Australian': 17,
 'Austrian': 15,
 'American': 157,
 'Dutch': 17,
 'Colombian': 3,
 'Portuguese': 4,
 'Canadian': 13,
 'Indian': 2,
 'Hungarian': 1,
 'Irish': 5,
 'Danish': 5,
 'Argentine': 24,
 'Czech': 1,
 'Malaysian': 1,
 'Swiss': 23,
 'Belgian': 23,
 'Monegasque': 3,
 'Swedish': 10,
 'Venezuelan': 3,
 'New Zealander': 9,
 'Chilean': 1,
 'Mexican': 6,
 'South African': 23,
 'Liechtensteiner': 1,
 'Rhodesian': 4,
 'American-Italian': 1,
 'Uruguayan': 4,
 'Argentine-Italian': 1,
 'Thai': 1,
 'East German': 3,
 'Russian': 2,
 'Indonesian': 1}

# Number of Drivers by Country

In [9]:
data=[go.Bar(
    x=list(drivers_nationality_data.keys()),
    y=list(drivers_nationality_data.values())
)]

py.iplot(data,filename='Country wise Drivers')

In [10]:
results = pd.read_csv("input/results.csv",encoding="latin1")
circuits = pd.read_csv("input/circuits.csv",encoding="latin1")
status = pd.read_csv("input/status.csv",encoding="latin1")
drivers = pd.read_csv("input/drivers.csv",encoding="latin1")
driverStandings = pd.read_csv("input/driverStandings.csv",encoding="latin1")
races = pd.read_csv("input/races.csv",encoding="latin1")
constructors = pd.read_csv("input/constructors.csv",encoding="latin1")
constructorResults = pd.read_csv("input/constructorResults.csv",encoding="latin1")
lapTimes = pd.read_csv("input/lapTimes.csv",encoding="latin1")
qualifying = pd.read_csv("input/qualifying.csv",encoding="latin1")
pitStops = pd.read_csv("input/pitStops.csv",encoding="latin1")
seasons = pd.read_csv("input/seasons.csv",encoding="latin1")
constructorStandings = pd.read_csv("input/constructorStandings.csv",encoding="latin1") 
results = pd.read_csv("input/results.csv",encoding="latin1")

In [11]:
driver_wins = dict()
for index, row in driverStandings.iterrows():
    if row["position"] == 1:
        if row["driverId"] in driver_wins.keys():
            driver_wins[row["driverId"]] += 1
        else:
            driver_wins[row["driverId"]] = 1
driver_wins

{1: 70,
 8: 12,
 9: 1,
 13: 2,
 4: 52,
 30: 121,
 21: 1,
 14: 3,
 57: 27,
 56: 5,
 35: 5,
 71: 17,
 117: 79,
 102: 48,
 95: 25,
 20: 57,
 18: 20,
 137: 19,
 105: 6,
 173: 2,
 182: 42,
 187: 3,
 202: 4,
 177: 3,
 178: 11,
 199: 13,
 163: 3,
 172: 4,
 203: 2,
 222: 15,
 207: 15,
 221: 1,
 231: 1,
 224: 28,
 304: 12,
 223: 6,
 328: 33,
 356: 24,
 358: 8,
 373: 22,
 289: 27,
 385: 1,
 341: 1,
 475: 7,
 403: 4,
 476: 2,
 360: 6,
 577: 1,
 578: 5,
 579: 35,
 554: 1,
 581: 2,
 427: 2,
 345: 1,
 647: 14,
 641: 3,
 642: 7,
 17: 6,
 3: 29}

In [12]:
driverStandings = driverStandings.fillna(0)
data = driverStandings.merge(drivers, how='left', on= 'driverId')
data.head()

,driverStandingsId,raceId,driverId,points,position,positionText,wins,driverRef,number,code,forename,surname,dob,nationality,url
0,1,18,1,10.0,1,1,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,18,2,8.0,2,2,0,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,18,3,6.0,3,3,0,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,18,4,5.0,4,4,0,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,18,5,4.0,5,5,0,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [13]:
data = data[data["position"]==1]
data["surname"].value_counts()

Schumacher     121
Prost           79
Hamilton        70
Vettel          57
Alonso          52
Senna           48
Hill            48
Lauda           42
Fangio          35
Stewart         33
Rosberg         32
Fittipaldi      28
HÌ_kkinen       27
Mansell         25
Brabham         24
Clark           22
Button          20
Piquet          19
Scheckter       15
Andretti        15
Ascari          14
Reutemann       13
RÌ_ikkÌ¦nen     12
Hulme           12
Jones           11
Rindt            8
Villeneuve       7
Moss             7
Farina           7
Alboreto         6
Webber           6
Regazzoni        6
McLaren          6
Hawthorn         5
Irvine           5
Pironi           4
Laffite          4
Taruffi          3
Arnoux           3
Coulthard        3
Watson           3
Trintignant      2
Massa            2
von Trips        2
Collins          2
de Angelis       2
Bandini          1
Kubica           1
Behra            1
Hunt             1
Surtees          1
Musso            1
RodrÌ_guez       1
Depailler        1
Fisichella       1
Name: surname, dtype: int64

# Total number of Wins by Drivers

In [14]:
data1=[go.Bar(
    x=data["surname"].value_counts().index,
    y=data["surname"].value_counts().values
)]

py.iplot(data1,filename='Wins by Drivers')

In [15]:
constructorStandings = constructorStandings.fillna(0)
data = constructorStandings.merge(constructors, how='left', on= 'constructorId')
data.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins,Unnamed: 7,constructorRef,name,nationality,url,Unnamed: 5
0,1,18,1,14.0,1,1,1,0.0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,NaN
1,2,18,2,8.0,3,3,0,0.0,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber,NaN
2,3,18,3,9.0,2,2,0,0.0,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,NaN
3,4,18,4,5.0,4,4,0,0.0,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_F1,NaN
4,5,18,5,2.0,5,5,0,0.0,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso,NaN

# Number of Wins by Constructors

In [16]:
data = data[data["position"]==1]
data["name"].value_counts()

Ferrari            224
McLaren            165
Williams           114
Mercedes            75
Red Bull            63
Renault             46
Team Lotus          44
Benetton            29
Lotus-Climax        23
Cooper-Climax       20
Brawn               17
Tyrrell             16
Brabham-Repco       16
BRM                 14
Lotus-Ford          12
Matra-Ford          11
Brabham              6
Ligier               4
Cooper               4
March                3
Vanwall              3
Cooper-Maserati      1
BMW Sauber           1
Wolf                 1
Name: name, dtype: int64

In [17]:
data1 = go.Pie(labels=data["name"].value_counts().index, values=data["name"].value_counts().values, textinfo='none')
py.iplot([data1], filename='Wins by Constructors')

In [18]:
races.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [19]:
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10.0,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,NaN,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,NaN,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,MontmelÌ_,Spain,41.57000,2.26111,NaN,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,NaN,http://en.wikipedia.org/wiki/Istanbul_Park

In [20]:
races = races.fillna(0)
data2 = races.merge(circuits, how='left', on= 'circuitId')
data2.head()

,raceId,year,round,circuitId,name_x,date,time,url_x,circuitRef,name_y,location,country,lat,lng,alt,url_y
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10.0,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,NaN,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,shanghai,Shanghai International Circuit,Shanghai,China,31.33890,121.22000,NaN,http://en.wikipedia.org/wiki/Shanghai_Internat...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,NaN,http://en.wikipedia.org/wiki/Bahrain_Internati...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,catalunya,Circuit de Barcelona-Catalunya,MontmelÌ_,Spain,41.57000,2.26111,NaN,http://en.wikipedia.org/wiki/Circuit_de_Barcel...

In [21]:
data2["country"].value_counts()

Italy           96
Germany         77
UK              72
USA             69
Monaco          65
Belgium         63
France          60
Spain           55
Canada          49
Brazil          46
Japan           36
Australia       34
Hungary         33
Austria         31
Netherlands     30
South Africa    23
Argentina       20
Malaysia        19
Mexico          19
Portugal        16
China           15
Bahrain         14
Singapore       11
UAE             10
Turkey           7
Sweden           6
Switzerland      5
Russia           5
Korea            4
Azerbaijan       3
India            3
Morocco          1
Name: country, dtype: int64

# Total number of GP hosted by Country

In [22]:
data2=[go.Bar(
    x=data2["country"].value_counts().index,
    y=data2["country"].value_counts().values
)]

py.iplot(data2,filename='GP hosted by countries')

In [23]:
pitStops.describe()

            raceId     driverId         stop          lap  milliseconds
count  6251.000000  6251.000000  6251.000000  6251.000000  6.251000e+03
mean    907.860342   429.468245     1.836346    24.813470  4.774453e+04
std      44.327698   397.079565     0.935314    14.150022  1.791970e+05
min     841.000000     1.000000     1.000000     1.000000  1.289700e+04
25%     868.000000    13.000000     1.000000    13.000000  2.176800e+04
50%     902.000000   807.000000     2.000000    24.000000  2.334000e+04
75%     950.000000   821.000000     2.000000    35.000000  2.554700e+04
max     988.000000   843.000000     6.000000    74.000000  2.011266e+06

In [24]:
fastestPitStops = pitStops.sort_values("milliseconds")[:5]
fastestPitStops

      raceId  driverId  stop  lap      time duration  milliseconds
1037     858       813     2   30  17:58:49   12.897         12897
1044     858       811     3   36  18:09:34   12.959         12959
693      851         1     6   56  15:30:48   13.173         13173
632      851       813     2   16  14:31:22   13.186         13186
1640     870        30     2    4  14:12:58   13.199         13199

In [25]:
temp=dict()
raceIds = fastestPitStops["raceId"]
for index, row in races.iterrows():
    temp1=[]
    if row["raceId"] in  list(raceIds):
        temp[row["raceId"]]=row
temp

{851: raceId                                                     851
 year                                                      2011
 round                                                       11
 circuitId                                                   11
 name                                      Hungarian Grand Prix
 date                                                2011-07-31
 time                                                  12:00:00
 url          http://en.wikipedia.org/wiki/2011_Hungarian_Gr...
 Name: 849, dtype: object,
 858: raceId                                                     858
 year                                                      2011
 round                                                       18
 circuitId                                                   24
 name                                      Abu Dhabi Grand Prix
 date                                                2011-11-13
 time                                                  13:00:00
 url          http://en.wikipedia.org/wiki/2011_Abu_Dhabi_Gr...
 Name: 856, dtype: object,
 870: raceId                                                     870
 year                                                      2012
 round                                                       11
 circuitId                                                   11
 name                                      Hungarian Grand Prix
 date                                                2012-07-29
 time                                                  12:00:00
 url          http://en.wikipedia.org/wiki/2012_Hungarian_Gr...
 Name: 868, dtype: object}

In [26]:
temp1=[]
for index, row in fastestPitStops.iterrows():
    for i in temp.keys():
        if row["raceId"] == i:
            temp1.append(temp[i]["name"]+" "+str(temp[i]["year"]))
temp1

['Abu Dhabi Grand Prix 2011',
 'Abu Dhabi Grand Prix 2011',
 'Hungarian Grand Prix 2011',
 'Hungarian Grand Prix 2011',
 'Hungarian Grand Prix 2012']

In [27]:
temp2=dict()
for index, row in drivers.iterrows():
    for i in fastestPitStops["driverId"]:
        if row["driverId"] == i:
            temp2[i]=row["surname"]
temp2

{1: 'Hamilton', 30: 'Schumacher', 811: 'Senna', 813: 'Maldonado'}

In [28]:
fastestPitStops["name"]=temp1
fastestPitStops

,raceId,driverId,stop,lap,time,duration,milliseconds,name
1037,858,813,2,30,17:58:49,12.897,12897,Abu Dhabi Grand Prix 2011
1044,858,811,3,36,18:09:34,12.959,12959,Abu Dhabi Grand Prix 2011
693,851,1,6,56,15:30:48,13.173,13173,Hungarian Grand Prix 2011
632,851,813,2,16,14:31:22,13.186,13186,Hungarian Grand Prix 2011
1640,870,30,2,4,14:12:58,13.199,13199,Hungarian Grand Prix 2012

In [29]:
temp3=[]
for index, row in fastestPitStops.iterrows():
    for key,value in temp2.items():
        if row["driverId"] == key:
            temp3.append(value)
temp3

['Maldonado', 'Senna', 'Hamilton', 'Maldonado', 'Schumacher']

In [30]:
fastestPitStops["driver"]=temp3
fastestPitStops

,raceId,driverId,stop,lap,time,duration,milliseconds,name,driver
1037,858,813,2,30,17:58:49,12.897,12897,Abu Dhabi Grand Prix 2011,Maldonado
1044,858,811,3,36,18:09:34,12.959,12959,Abu Dhabi Grand Prix 2011,Senna
693,851,1,6,56,15:30:48,13.173,13173,Hungarian Grand Prix 2011,Hamilton
632,851,813,2,16,14:31:22,13.186,13186,Hungarian Grand Prix 2011,Maldonado
1640,870,30,2,4,14:12:58,13.199,13199,Hungarian Grand Prix 2012,Schumacher

In [31]:
fastestPitStops["name and driver"] = fastestPitStops["driver"]+" - " +fastestPitStops["name"].map(str)

In [32]:
fastestPitStops

,raceId,driverId,stop,lap,time,duration,milliseconds,name,driver,name and driver
1037,858,813,2,30,17:58:49,12.897,12897,Abu Dhabi Grand Prix 2011,Maldonado,Maldonado - Abu Dhabi Grand Prix 2011
1044,858,811,3,36,18:09:34,12.959,12959,Abu Dhabi Grand Prix 2011,Senna,Senna - Abu Dhabi Grand Prix 2011
693,851,1,6,56,15:30:48,13.173,13173,Hungarian Grand Prix 2011,Hamilton,Hamilton - Hungarian Grand Prix 2011
632,851,813,2,16,14:31:22,13.186,13186,Hungarian Grand Prix 2011,Maldonado,Maldonado - Hungarian Grand Prix 2011
1640,870,30,2,4,14:12:58,13.199,13199,Hungarian Grand Prix 2012,Schumacher,Schumacher - Hungarian Grand Prix 2012

# 5 Quickest Pit Stops

In [33]:
data = go.Table(
header=dict(values=["Duration(seconds)","GP Name","Driver"],
                line = dict(color='#f47441'),
                fill = dict(color='#f47441'),
                align = ['center'] * 5),
cells=dict(values=[fastestPitStops["duration"],fastestPitStops["name"],fastestPitStops["driver"]],
               line = dict(color='#f4a041'),
               fill = dict(color='#f4a041'),
               align = ['center'] * 5))

layout = dict(width=1000, height=325)
data = [data]
fig = dict(data=data, layout=layout)
py.iplot(fig, filename = 'Quickest Pit Stops Table')

In [34]:
data = [go.Bar(
    x=fastestPitStops["name and driver"],
    y=fastestPitStops["duration"]
)]

py.iplot(data, filename="Quickest Pit Stops")

In [35]:
qualifying.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [36]:
qualifying.describe()

,qualifyId,raceId,driverId,constructorId,number,position
count,7516.000000,7516.000000,7516.000000,7516.000000,7516.000000,7516.000000
mean,3762.934939,449.830894,203.803752,34.757318,15.288318,11.473523
std,2175.400371,384.012280,325.034734,61.700784,14.057586,6.424936
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
25%,1879.750000,91.000000,14.000000,4.000000,7.000000,6.000000
50%,3759.500000,259.000000,30.000000,9.000000,12.000000,11.000000
75%,5639.250000,887.000000,111.000000,19.000000,20.000000,17.000000
max,7539.000000,988.000000,843.000000,210.000000,99.000000,28.000000

In [37]:
temp = pd.concat([drivers["driverId"],drivers["surname"]], axis=1)
qualifying = qualifying.fillna(0)
data = qualifying.merge(temp, how='left', on= 'driverId')
data.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3,surname
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714,Hamilton
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869,Kubica
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079,Kovalainen
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178,Massa
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236,Heidfeld

In [38]:
del data["q1"]
del data["q2"]
del data["q3"]

temp = pd.concat([constructors["constructorId"],constructors["name"]], axis=1)
tempdata = data.merge(temp, how='left', on= 'constructorId')
tempdata.head()

,qualifyId,raceId,driverId,constructorId,number,position,surname,name
0,1,18,1,1,22,1,Hamilton,McLaren
1,2,18,9,2,4,2,Kubica,BMW Sauber
2,3,18,5,1,23,3,Kovalainen,McLaren
3,4,18,13,6,2,4,Massa,Ferrari
4,5,18,2,2,3,5,Heidfeld,BMW Sauber

In [39]:
tempdata = tempdata[tempdata["position"]==1]

# Pole Position by Drivers

In [40]:
data1 = go.Table(
header=dict(values=["Name","Total Number of Poles"],
                line = dict(color='#f47441'),
                fill = dict(color='#f47441'),
                align = ['center'] * len(list(tempdata["surname"].value_counts().index))),
cells=dict(values=[tempdata["surname"].value_counts().index,tempdata["surname"].value_counts().values],
               line = dict(color='#f47441'),
               fill = dict(color='#f4a041'),
               align = ['center'] * len(list(tempdata["surname"].value_counts().index))))

layout = dict(width=1000, height=800)
data2 = [data1]
fig = dict(data=data2, layout=layout)
py.iplot(fig, filename = 'Pole Position by Drivers Table')

In [41]:
data = [go.Bar(
    x=list(tempdata["surname"].value_counts().index),
    y=list(tempdata["surname"].value_counts().values)
)]

py.iplot(data, filename="Pole Position by Drivers")

In [42]:
tempdata["name"].value_counts()

Mercedes       81
Ferrari        68
Red Bull       57
McLaren        55
Williams       38
Renault        20
Benetton       11
Brawn           5
Toyota          3
BAR             2
Honda           1
BMW Sauber      1
Toro Rosso      1
Jordan          1
Force India     1
Name: name, dtype: int64

# Pole Position by Constructors

In [43]:
data = [go.Bar(
    x=list(tempdata["name"].value_counts().index),
    y=list(tempdata["name"].value_counts().values)
)]

py.iplot(data, filename="Pole Position by Constructors")